html {
    font-family: "Caveat", cursive;
    margin:0;
    padding:0;
  }
img{
height: 200;
width:300;
  }
  h2{
    color:orange;
    font-size: 3rem;
  }
  h1{
    font-size: 6rem;}
  .beau{
    color:rgb(6, 6, 156);
  }
  img{
    float: left;
  }
  div{
    display:inline-block;
    width: 100%;
    }
  .mountain{
   
    display:block;
    float:left;
width:45% ; 

}
  .deer{
    
    display:block;
    float:right;
    width:45% ;  
    margin-left: 2px;
}
 footer{
    clear:both;
    text-align: right;
 } 

 @media (max-width: 600px) {
   
  div{
      display:block;
      width: 100%;
      }
      img{
         
          width:100%;
          object-fit: contain;
      }
      .mountain{
 
          width: 100%;
          display: block;
          margin-bottom: 30px;
          
         
     
      }

        .deer{
          
          width: 100%;
          display: block;
          margin-bottom: 30px;
         
         
         
      }

}